@model IEnumerable<_03_DemoWeb.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<h1>Account details</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Money)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Money)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    <button type="button" class="btn btn-light">  <a asp-action="Edit" asp-route-id="@item.ID">Edit</a></button>
                    <button type="button" class="btn btn-light"> <a asp-action="Details" asp-route-id="@item.ID">Details</a> </button>
                    <button type="button" class="btn btn-light"> <a asp-action="Delete" asp-route-id="@item.ID">Delete</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
